.popoverTrigger {
  position: relative;
}

.popoverContent {
  max-width: 208px;
  height: fit-content;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  padding: 4px 8px;
  z-index: 1;

  position: absolute;
  top: 60px;
  left: 0px;

  background-color: #18181b;
  border: 2px solid #a78bfa;
  border-radius: 4px;
}
